<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <!-- form me sirf post get jati hai put request ke liye special pakage method-override package ko install karna padta hai-->
     <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
               
            <div class="mb-3">
                <label for="tittel" class="form-label">Title</label>
                <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control" id="title" style="width:100%"  required> <div class="invalid-feedback"> enter valid title </div>
            </div>
            
                 
            <div class="mb-3">
                <label for="description" class="form-label">Desription</label>
                <textarea  type="text" name="listing[description]" class="form-control" id="description"  required style="width:100%" ><%= listing.description%> </textarea>
                <div class="invalid-feedback"> enter valid Description </div>
    
            </div>

            <div class="mb-3">
                Original Listing Image <br>
                <img src="<%= originalImgUrl %>"width="200">
            </div>
    
            <div class="mb-3">
                <label for="img" class="form-label"> Upload New Image  </label>
                <input type="file" value="<%= listing.image%>" name="listing[image]" class="form-control" id="img" style="width:100%"  >  
    
            </div>
    
            <div class="row">
                 <div class="mb-3  col-md-4">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <span class="input-group-text">₹</span>
                <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" id="price" style="width:100%" required>

                         <div class="invalid-feedback"> enter valid Price
                        </div>
                    </div>
                </div>
                
                 <div class="mb-3  col-md-8">
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" id="country" style="width:100%" required > <div class="invalid-feedback"> enter valid country Name</div>
                    </div>

                 </div>
            </div>
    
          
            <div class="mb-3  col-md-8">
                <div class="mb-3">
                    <label for="category" class="form-label">category</label>
                    
                <select name="listing[category]" required>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic Cities">Iconic Cities</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing Pools">Amazing Pools</option>
                    <option value="Camping">Camping</option>
                    <option value="farms">Farms</option>
                    <option value="Domes">Domes</option>
                </select>
                </div>

             </div>

            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" value="<%= listing.location%>" name="listing[location]" class="form-control" id="location" style="width:100%" required>
                <div class="invalid-feedback"> enter valid location </div>
    
            </div>   
            
           <button class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
    
     </div>
  </div>